@model List<HomeSlider>


<section class="hero-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
                    @foreach (HomeSlider homeSlider in Model)
                    {
                        <div class="hero-single-slide">
                            <div class="hero-slider-item bg-img" data-bg="/assets/img/slider/@homeSlider.Image">
                                <div class="hero-slider-content slide-1">
                                    <h5 class="slide-subtitle">@homeSlider.MainTitle</h5>
                                    <h2 class="slide-title">@homeSlider.SubTitle</h2>
                                    <p class="slide-desc">@homeSlider.Description</p>
                                    <a href="@homeSlider.RedirectUrl" class="btn btn-hero">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>