@model BlogTag

<h1>Update</h1>

<div class=" row justify-content-center">
    <div class="col-lg-8">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

@section Script{
    <partial name="_ValidationPartial">
}
