@model ProfileVM

<h3>Account Details</h3>
<div class="account-details-form">
    <div asp-validation-summary="ModelOnly"></div>
    <form enctype="multipart/form-data" asp-controller="Account" asp-action="Update" class="w-100">

        <div class="float-right profileimagediv" style="width: 100px; height: 100px;">
            @if (Model.Image != null)
            {
                <a asp-controller="Account" asp-action="DeleteProfileImage" asp-route-id="@Model.AppUserId" class="deleteprofileimage">X</a>

                <label asp-for="Photo" class="updateprofileimage">
                    <i class="fa-solid fa-arrows-rotate"></i>
                </label>

                <input style="display: none;" asp-for="Photo" accept="image/jpeg" />
                <span class="text text-danger" asp-validation-for="Photo">  </span>
                <img src="~/assets/img/users/@Model.Image" style=" width: 100px; height: 100px;" class="profileimage" />
            }
            else
            {
                <label asp-for="Photo" class="updateprofileimage">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </label>

                <input style="display: none;" asp-for="Photo" accept="image/jpeg" />
                <span class="text text-danger" asp-validation-for="Photo">  </span>
            }
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="single-input-item">
                    <label asp-for="Name" for="first-name" class="required">First Name</label>
                    <input asp-for="Name" id="first-name" placeholder="First Name" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-input-item">
                    <label asp-for="SurName" for="last-name" class="required">Surname</label>
                    <input asp-for="SurName" id="last-name" placeholder="Last Name" />
                </div>
            </div>
        </div>
        <div class="single-input-item">
            <label asp-for="UserName" for="display-name" class="required">Username</label>
            <input asp-for="UserName" id="display-name" placeholder="Display Name" />
        </div>
        <div class="single-input-item">
            <label asp-for="Email" for="email" class="required">Email Address</label>
            <input asp-for="Email" id="email" placeholder="Email Address" />
        </div>
        <fieldset>
            <legend>Password change</legend>
            <div class="single-input-item">
                <label asp-for="CurrentPassword" for="current-pwd" class="required">Current Password</label>
                <input asp-for="CurrentPassword" id="current-pwd" placeholder="Current Password" />
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <label asp-for="NewPassword" for="new-pwd" class="required">New Password</label>
                        <input asp-for="NewPassword" id="new-pwd" placeholder="New Password" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <label asp-for="ConfirmPasword" for="confirm-pwd" class="required">Confirm Password</label>
                        <input asp-for="ConfirmPasword" id="confirm-pwd" placeholder="Confirm Password" />
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="single-input-item">
            <button class="check-btn sqr-btn ">Save Changes</button>
        </div>
    </form>
</div>

@section Script{
    <partial name="_ValidationPartial">
}
