@model BlogCommentVM

<form method="post" asp-controller="Blog" asp-action="AddCommentReply" asp-route-id="@ViewBag.BlogCommentId" asp-route-blogId="@ViewBag.BlogId">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="comment-post-box">
            <div class="row replyinputs">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="col-lg-4 col-md-4">
                        <label asp-for="AuthorName">Name</label>
                        <input asp-for="AuthorName" class="coment-field" placeholder="Name">
                        <span class="text-danger text-danger" asp-validation-for="AuthorName"></span>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="coment-field" placeholder="Email">
                        <span class="text-danger text-danger" asp-validation-for="Email"></span>
                    </div>
                }
                <div class="col-12">
                    <label asp-for="Comment"></label>
                    <textarea asp-for="Comment" placeholder="Write a comment"></textarea>
                    <span class="text-danger text-danger" asp-validation-for="Comment"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Comment</button>
                </div>
            </div>
        </div>
    </form>