@using Back_End_Project.Interfaces
@inject ILayoutService layoutService

@{ 
    IDictionary<string, string> settings = await layoutService.GetSetting();
    List<BasketVM> basketVMs = await layoutService.GetBasket();
}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title>Juan - Shoes Store HTML Template</title>
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon" />
    <!--=== All Plugins CSS ===-->
    <link href="~/assets/css/plugins.css" rel="stylesheet">
    <!--=== All Vendor CSS ===-->
    <link href="~/assets/css/vendor.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- Modernizer JS -->
    <script src="~/assets/js/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/assets/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/slick-1.8.1/slick/slick-theme.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="~/assets/css//custom.css" />
    <style>
        .my-account-order .table tr {
            cursor: pointer;
        }

        .my-account-order .table .hiddenRow {
            padding: 0 4px !important;
            background-color: #eeeeee;
            font-size: 13px;
        }
    </style>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    @if (TempData["success"] != null)
    {
        <input type="hidden" id="successInput" value="@TempData["success"]" />
    }

    @if (TempData["info"] != null)
    {
        <input type="hidden" id="infoinput" value="@TempData["info"]" />
    }

    @await Component.InvokeAsync("HeaderSearch", settings)

    @RenderBody()

    @await Component.InvokeAsync("Footer", settings)


    <div class="offcanvas-minicart-wrapper">
        <div class="minicart-inner">
            <div class="offcanvas-overlay"></div>
            <div class="minicart-inner-content">
                @await Html.PartialAsync("_BasketPartial", basketVMs)
            </div>
        </div>
    </div>  


    <div class="modal" id="quick_view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

            </div>
        </div>
    </div>


    <!-- Scroll up body -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>


    <!--=======================Javascript============================-->
    <!--=== All Vendor Js ===-->
    <script src="~/assets/js/vendor.js"></script>
    <!--=== All Plugins Js ===-->
    <script src="~/assets/js/plugins.js"></script>
    <!--=== Active Js ===-->
    <script src="~/assets/js/active.js"></script>

    <script src="~/assets/js/Custom.js" asp-append-version="true"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/slick-1.8.1/slick/slick.min.js"></script>

    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @RenderSection("Script", false)
</body>
</html>