@model List<HomeService>

<section class="service-policy-area">
    <div class="container">
        <div class="row">
            @foreach (HomeService homeService in Model)
            {
                <div class="col-lg-4">
                    <div class="service-policy-item mt-30 bg-1" style="color: @homeService.Color">
                        <div class="policy-icon">
                            <img src="~/assets/img/icon/@homeService.Image" alt="policy icon">
                        </div>
                        <div class="policy-content">
                            <h5 class="policy-title">@homeService.Title</h5>
                            <p class="policy-desc">@homeService.SubTitle</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
