@model List<HomeBanner>

<div class="banner-statistics">
    <div class="container">
        <div class="row no-gutters mtn-30">
            @foreach (HomeBanner homeBanner in Model.Take(2))
            {
                <div class="col-md-6">
                    <div class="img-container mt-30">
                        <a href="@homeBanner.RedirectUrl">
                            <img src="~/assets/img/banner/@homeBanner.Image" alt="banner-image">
                        </a>
                        <div class="banner-text">
                            <h5 class="banner-subtitle">@homeBanner.Title</h5>
                            <h3 class="banner-title">@Html.Raw(homeBanner.SubTitle)</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>