@model List<HomeBrandSlider>

<div class="brand-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-active-carousel">
                    <div class="brand-item">
                        <a>
                            <img src="~/assets/img/brand/br1.png" alt="brand image">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a>
                            <img src="~/assets/img/brand/br2.png" alt="brand image">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a>
                            <img src="~/assets/img/brand/br3.png" alt="brand image">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a>
                            <img src="~/assets/img/brand/br4.png" alt="brand image">
                        </a>
                    </div>
                    <div class="brand-item">
                        <a>
                            <img src="~/assets/img/brand/br5.png" alt="brand image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>