@model CreateUserVM

@{ ViewData["Title"] = "Create"; }

<h1>Create User</h1>

<div class=" row justify-content-center">
    <div class="col-lg-8">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SurName" class="form-label"></label>
                <input asp-for="SurName" class="form-control">
                <span class="text-danger" asp-validation-for="SurName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control">
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
            <div class="col-lg-3 ml-3 form-check">
                <input asp-for="IsAdmin" class="form-check-input isMaininput">
                <label asp-for="IsAdmin" class="form-check-label">Is admin?</label>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <input asp-for="Password" placeholder="Enter your Password" required />
                        <span class="text-black-50 text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-input-item">
                        <input asp-for="ConfirmPassword" placeholder="Repeat your Password" required />
                        <span class="text-black-50 text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Script
{
    <partial name="_ValidationPartial">
}
